{% if current_user.is_anonymous %}
{% extends 'base.html' %}
{% else %}
{% extends 'base_inner.html' %}
{% endif %}

{% block content %}
<!-- About Section: Introduces PuzzleMe and its purpose -->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Text Section -->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">
                        About <span style="color: blueviolet">PuzzleMe</span>.
                    </h1>
                    <p class="lead fw-normal text-muted mb-5">
                        PuzzleMe is a dynamic online platform designed to ignite the minds of puzzle enthusiasts and creators alike. At the heart of PuzzleMe is the ability for users to both craft and solve puzzles, creating a vibrant community of interactive engagement and intellectual challenge. Our platform encourages users to express their creativity by designing unique puzzles, ranging from simple riddles to complex crosswords and brain teasers.
                    </p>
                </div>
                <h3>
                    Join <span style="color: blueviolet">PuzzleMe</span> today and dive into a world of puzzles where creativity meets curiosity and every challenge is a chance to learn something new!
                </h3>
            </div>
            <div class="col-lg-6">
                <!-- Video Container: Showcases platform features -->
                <div class="circular-video">
                    <video muted autoplay loop class="video-in-circle">
                        <source src="static/assets/img/puzzle.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
