<!-- create_puzzle.html -->
{% extends 'base_inner.html' %} {% block content %}
<header class="masthead">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6">
				<div class="mb-5 mb-lg-0 text-center text-lg-start">
					<h1 class="display-1 lh-1 mb-3">
						Create
						<span style="color: blueviolet">Puzzle's</span> that you
						want others to
						<span style="color: blueviolet">PLAY</span>.
					</h1>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="circular-video">
					<video muted autoplay loop class="video-in-circle">
						<source
							src="static/assets/img/puzzle.mp4"
							type="video/mp4"
						/>
					</video>
				</div>
			</div>
		</div>
	</div>
</header>
<aside class="text-center bg-gradient-primary-to-secondary">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-xl-8">
				<div class="h2 fs-1 text-white mb-4">
					"Create a Puzzle to Get Your Friends Puzzled."
				</div>
				<div class="login-form-container">
					<form
						action="{{ url_for('create') }}"
						method="POST"
						novalidate
					>
						{{ form.hidden_tag() }}
						<!-- Category Section -->
						<div class="form-group mb-3">
							<h4 style="color: blueviolet">
								SELECT CATEGORY OF THE WORD THAT YOU WANT TO
								CREATE.
							</h4>
							{{ form.category.label(hidden=True) }} {{
							form.category(class='login-form-input form-control',
							required=True, id='category', style='height: 40px;')
							}}
						</div>
						<!-- Word Section -->
						<div class="form-group">
							<h4 style="color: blueviolet">
								SELECT THE WORD THAT YOU WANT TO CREATE.
							</h4>
							{{ form.word.label(hidden=True) }} {{
							form.word(class='login-form-input form-control',
							required=True, id='word', style='height: 40px;') }}
						</div>
						<button type="submit" class="login-form-button">
							{{form.submit.label}}
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</aside>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#category").change(function () {
			var category = $(this).val();
			if (category) {
				$.getJSON(
					'{{ url_for("get_words") }}',
					{ category: category },
					function (words) {
						var options = '<option value="">Select a Word</option>';
						for (var i = 0; i < words.length; i++) {
							options +=
								'<option value="' +
								words[i] +
								'">' +
								words[i] +
								"</option>";
						}
						$("#word").html(options);
						$("#word").prop("disabled", false);
					}
				);
			} else {
				$("#word").html('<option value="">Select a Word</option>');
				$("#word").prop("disabled", true);
			}
		});
	});
</script>
{% endblock %}
