<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Link to the custom CSS file for the Hangman game -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_hangman.css') }}">
</head>
<body>
    <div class="container">
        <div class="timer" id="counter">0:00</div>
        <div id="category-container" class="centered-content">
            WORD CATEGORY : {{ category }}
        </div>
        <div id="user-input-section"></div>
        <div id="letter-container" class="letter-container"></div>
        <canvas id="canvas" width="300" height="300"></canvas>
        <div id="result-text"></div>
        <button class="back_button" id="backButton">Back</button>
    </div>

    <script>
        const wordLength = "{{ word_length }}";
        const word = "{{ word | upper }}";
        const userInputSection = document.getElementById('user-input-section');
        const letterContainer = document.getElementById('letter-container');
        const resultText = document.getElementById('result-text');
        const canvas = document.getElementById('canvas');
        let wrongGuesses = 0;

        function initializeGame() {
            // Initialize dashes for the word
            for (let i = 0; i < wordLength; i++) {
                const span = document.createElement('span');
                span.classList.add('dashes');
                span.textContent = '_';
                userInputSection.appendChild(span);
            }

            // Initialize letters for guessing
            const letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            letterContainer.innerHTML = '';
            letters.split('').forEach(letter => {
            const button = document.createElement('button');
            button.textContent = letter;
            button.onclick = function() { 
            handleGuess(letter);
            this.disabled = true;  // Disable the button
            this.classList.add('active'); 
            };
            button.classList.add('letters');
            letterContainer.appendChild(button);
        });

            drawHangmanFrame();
        }

        function handleGuess(selectedChar) {
            let isCorrect = false;
            const spans = userInputSection.querySelectorAll('span');
            word.split('').forEach((char, index) => {
                if (char === selectedChar) {
                    spans[index].textContent = char;
                    isCorrect = true;
                }
            });


            if (!isCorrect) {
                wrongGuesses++;
                updateHangman(wrongGuesses);
            }

            checkGameEnd(isCorrect);
        }

        function drawHangmanFrame() {
            const ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear previous frame
            ctx.beginPath();
            ctx.moveTo(75, 250);
            ctx.lineTo(225, 250);
            ctx.moveTo(150, 250);
            ctx.lineTo(150, 50);
            ctx.lineTo(200, 50);
            ctx.lineTo(200, 75);
            ctx.stroke();
        }

        function updateHangman(wrongGuesses) {
            const ctx = canvas.getContext('2d');
            switch (wrongGuesses) {
                case 1:
                    // Head
                    ctx.beginPath();
                    ctx.arc(200, 100, 25, 0, Math.PI * 2, true);
                    ctx.stroke();
                    break;
                case 2:
                    // Body
                    ctx.moveTo(200, 125);
                    ctx.lineTo(200, 200);
                    ctx.stroke();
                    break;
                case 3:
                    // Left Arm
                    ctx.moveTo(200, 150);
                    ctx.lineTo(170, 180);
                    ctx.stroke();
                    break;
                case 4:
                    // Right Arm
                    ctx.moveTo(200, 150);
                    ctx.lineTo(230, 180);
                    ctx.stroke();
                    break;
                case 5:
                    // Left Leg
                    ctx.moveTo(200, 200);
                    ctx.lineTo(170, 230);
                    ctx.stroke();
                    break;
                case 6:
                    // Right Leg
                    ctx.moveTo(200, 200);
                    ctx.lineTo(230, 230);
                    ctx.stroke();
                    break;
            }
        }

        function checkGameEnd(isCorrect) {
            const allRevealed = ![...userInputSection.querySelectorAll('span')].some(span => span.textContent === '_');
            if (allRevealed) {
                resultText.textContent = 'Congratulations! You guessed the word!';
                disableLetters();
                stopTimer();
            } else if (wrongGuesses >= 6) {
                resultText.textContent = `Sorry! You failed to guess the word: ${word}`;
                disableLetters();
                stopTimer();
            }
        }

        function disableLetters() {
            document.querySelectorAll('.letters').forEach(button => button.disabled = true);
        }

        window.onload = initializeGame;

        // Back Button code

        document.addEventListener('DOMContentLoaded', function() 
        {
            var backButton = document.getElementById('backButton');
            if (backButton) 
            {
                backButton.addEventListener('click', function() 
                {
                window.history.back(); // Navigate to the previous page
                });
            }
        });

        // Timer Code

        // Function to format time in mm:ss format
        function formatTime(seconds) 
        {
            var minutes = Math.floor(seconds / 60);
            var remainderSeconds = seconds % 60;
            return minutes + ':' + (remainderSeconds < 10 ? '0' : '') + remainderSeconds;
        }

        // Function to update the counter every second
        function updateCounter() 
        {
            var counterElement = document.getElementById('counter');
            var seconds = 0;

            intervalId = setInterval(function() 
            {
                seconds++;
                counterElement.textContent = formatTime(seconds);
            }, 1000);
        }

        // Stop the counter when game is finished.
        function stopTimer() 
        {
            clearInterval(intervalId);
        }


        // Start the counter when the DOM is loaded
        document.addEventListener('DOMContentLoaded', function() 
        {
            updateCounter();
        });
    </script>
</body>
</html>
