{% if current_user.is_anonymous %} {% extends 'base.html' %} {% else %} {%
extends 'base_inner.html' %} {% endif %} {% block content %}
<header class="masthead">
	<div class="container px-5">
		<div class="row gx-0 align-items-center">
			<div class="col-lg-5">
				<!-- Masthead text -->
				<div class="mb-3 mb-lg-0 text-center text-lg-start">
					<h1 class="display-1 lh-1 mb-3">
						Welcome to
						<span style="color: blueviolet">PuzzleMe</span>.
					</h1>
				</div>
			</div>
			<div class="col-lg-5">
				<!-- Circular Video Container -->
				<div class="circular-video">
					<video muted autoplay loop class="video-in-circle">
						<source src="static/assets/img/puzzle.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</header>
<aside class="text-center bg-gradient-primary-to-secondary">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-xl-8">
				<div class="h2 fs-1 text-white mb-4">"Rule's to play this game are."</div>
				<!-- Puzzle Rules Container -->
				<div class="login-form-container" style="text-align: left;">
					<h3 style="color:blueviolet;">Rule 1:</h3>
					<h4>
						Guess the word by selecting letters one at a time.
					</h4>
					<h3 style="color:blueviolet;">Rule 2:</h3>
					<h4>
						Each correctly guessed letter will replace a corresponding dash(-) in the word.
					</h4>
					<h3 style="color:blueviolet;">Rule 3:</h3>
					<h4>
						Each incorrect guess will contribute to the drawing of the hangman.
					</h4>
					<h3 style="color:blueviolet;">Rule 4:</h3>
					<h4>
						The game ends in success if you correctly guess all letters of the word before the
						hangman is fully drawn.
					</h4>
					<h3 style="color:blueviolet;">Rule 5:</h3>
					<h4>
						The game ends in failure if the hangman is fully drawn before the word is guessed.
					</h4>
					<h3 style="color:blueviolet;">Rule 6:</h3>
					<h4>
						The timer starts at the beginning of each game and stops when the game ends. The time
						taken affects your score and ranking on the leaderboard.
					</h4>
				</div>

			</div>
		</div>
	</div>
</aside>
{% endblock %}