{% if current_user.is_anonymous %}
{% extends 'base.html' %}
{% else %}
{% extends 'base_inner.html' %}
{% endif %}

{% block content %}
<section class="leaderboard_class">
    <h1 class="leaderboard_title">Top 10 Players</h1>
    <div id="leaderboard" class="leaderboard_graph"></div>
</section>
<script>
    fetch('/get_leaderboard')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const usernames = data.map(entry => entry.username);
            const scores = data.map(entry => entry.score);
            const maxScoreIndex = scores.indexOf(Math.max(...scores));

            const colors = ['blue', 'green', 'red', 'black', 'brown']; // Define array of colors

            const trace = {
                x: usernames,
                y: scores,
                type: 'bar',
                marker: {
                    color: 'rgba(50, 171, 96, 0.6)', // Customize color
                    line: {
                        color: 'rgba(50, 171, 96, 1)', // Customize border color
                        width: 2
                    },
                    // Custom marker for the highest score bar
                    symbol: 'bar'
                },
                hoverinfo: 'none', // Hide default hover info
            };

            // Add annotations for the highest score
            const highestScore = Math.max(...scores);
            const highestScoreUsername = usernames[maxScoreIndex];
            const annotation = {
                x: highestScoreUsername,
                y: highestScore,
                text: '👏', // Change text to 'Leader'
                font: {
                    size: 48, // Increase the font size
                    color: 'black'
                },
                arrowhead: 0, // Remove arrow
                ax: 50,
                ay: -10,
            };
            trace['text'] = scores.map(score => score === highestScore ? 'Leader' : 'Runner'); // Show hand emoji only for the leader
            trace['textposition'] = 'outside';

            const layout = {
                title: {
                    text: 'Puzzle Leaderboard',
                    font: {
                        size: 20,
                        color: '#0000FF'
                    }
                },
                xaxis: {
                    title: {
                        text: 'Username',
                        font: {
                            size: 24,
                            color: '#8A2BE2'
                        }
                    }
                },
                yaxis: {
                    title: {
                        text: 'Score',
                        font: {
                            size: 24,
                            color: '#8A2BE2'
                        }
                    }
                },
                annotations: [annotation],
                paper_bgcolor: '#40E0D0', // Change the background color of the graph to light blue
                hovermode: 'closest', // Show hover info for the closest point
            };

            const leaderboard = document.getElementById('leaderboard');
            Plotly.newPlot(leaderboard, [trace], layout);

            // Add event listener for bar hover
            leaderboard.on('plotly_hover', function (data) {
                const bars = document.querySelectorAll('.bars path');
                bars.forEach((bar, index) => {
                    if (index === data.points[0].pointNumber) {
                        bar.classList.add('hovered-bar');
                    } else {
                        bar.classList.remove('hovered-bar');
                    }
                });
            });

            // Assigning colors to bars
            const bars = document.querySelectorAll('.bars path');
            bars.forEach((bar, index) => {
                bar.style.fill = colors[index % colors.length];
            });
        })
        .catch(error => console.error('Error:', error));

</script>
{% endblock %}