{% extends 'base.html' %} {% block content %}
<!-- Login Page Section -->
<section
	class="login-section"
	style="background-color: #f8f9fa; padding-top: 250px; padding-bottom: 100px"
>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<!-- Login Form -->
				<div class="login-form-container">
					<h2 class="text-center" style="color: blueviolet">
						<span style="color: #009933">LogIn</span> to PuzzleMe
					</h2>
					<form action="" method="post" novalidate>
						{{ form.hidden_tag() }}
						<p>
							{{ form.username.label }}<br />
							{{ form.username(size=32)}} {% for error in
							form.username.errors %}
							<span style="color: red">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.password.label }}<br />
							{{ form.password(size=32) }} {% for error in
							form.password.errors %}
							<span style="color: red">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.remember_me() }} {{ form.remember_me.label
							}}
						</p>
						<p>{{ form.submit() }}</p>
					</form>
					<p class="text-center mt-3">
						If you do not have an account, click on the
						<span style="color: blueviolet">Sign Up</span> button
						below.
					</p>
					<!-- Sign Up Button -->
					<div class="d-grid">
						<button
							type="button"
							class="login-form-button"
							onclick="window.location.href='{{ url_for('signup') }}';"
						>
							Sign Up
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
